.batteryBody{
    display: flex;
    justify-content: start;
    text-align: center;
    align-items: center;
    width: 30px;
    height: 12px;
    color: #fff;
    border: .8px solid #EBEBF599;
    border-radius: 5px;
    padding: 1px 2px;
}

.batteryColor{
    background-color: #66FF7F;
    height: 100%;
    border-radius: 3px;
}

.batteryCount{
    width: 26px;
    font-weight: 600;
    font-size: 7px;
    text-align: center;
    font-family: "Inter";
}